{%- liquid
  assign col_demaq   = collections['demaquillant-nettoyant']
  assign col_toner   = collections['toner']
  assign col_eye     = collections['serum-pour-les-yeux']
  assign col_serum   = collections['serum-2']
  assign col_creme   = collections['creme']
  assign col_sun     = collections['creme-solaire']
  assign col_gommage = collections['gommage-masques']
  assign col_levres  = collections['levres']
-%}

<section class="quiz" data-qd-wrap>
  <div class="quiz__wrap" id="qd-wrap">

    <div class="quiz-card" id="qd-card">
      <div class="quiz-card__top">
        <p class="eyebrow">{{ 'quiz.eyebrow' | t }}</p>
        <span class="quiz-card__counter" id="qd-counter">1 / 14</span>
      </div>
      <div class="quiz-progress">
        <div class="quiz-progress__fill" id="qd-bar"></div>
      </div>

      <div id="qd-steps">

        <!-- 0 : Bienvenue -->
        <div data-qd-step="0" data-qd-type="info">
          <h2 class="quiz-question">{{ 'quiz.qd.s0_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s0_hint' | t }}</p>
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 1 : Prénom -->
        <div data-qd-step="1" data-qd-type="text" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s1_q' | t }}</h2>
          <input class="qd-input" type="text" id="qd-name-input" placeholder="{{ 'quiz.qd.s1_placeholder' | t }}" minlength="2" autocomplete="given-name">
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 2 : Âge -->
        <div data-qd-step="2" data-qd-type="number" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s2_q_a' | t }} <span id="qd-name-disp"></span>{{ 'quiz.qd.s2_q_b' | t }}</h2>
          <input class="qd-input" type="number" id="qd-age-input" placeholder="{{ 'quiz.qd.s2_placeholder' | t }}" min="10" max="100">
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 3 : Genre -->
        <div data-qd-step="3" data-qd-type="single" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s3_q' | t }}</h2>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice>{{ 'quiz.qd.s3_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice>{{ 'quiz.qd.s3_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice>{{ 'quiz.qd.s3_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
        </div>

        <!-- 4 : Ressenti peau -->
        <div data-qd-step="4" data-qd-type="multi" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s4_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.multi_hint' | t }}</p>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327039312138,10327045832970,10329423610122,10325649719562,10325648867594,10329419055370,10325651194122,10326702850314,10326953754890,10326953623818,10323778797834,10325662662922,10442990616842,10326669263114">{{ 'quiz.qd.s4_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10344959344906,10327701946634,10327042654474,10329429606666,10326953623818,10326953754890,10326731882762,10323778797834,10325662662922,10326669263114">{{ 'quiz.qd.s4_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331243413770,10329333465354,10329315574026,10327033413898,10325364867338,10325641724170,10325648867594,10325655650570,10325657190666,10326702850314">{{ 'quiz.qd.s4_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327033413898,10329333465354,10329315574026,10331243413770,10325624750346,10325618524426,10325364867338,10325655650570,10325657190666,10443009720586,10326702850314">{{ 'quiz.qd.s4_a4' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331246493962,10331266351370,10325657190666,10331455586570,10327042654474,10331243413770,10325364867338,10325648867594,10323778797834,10443009720586,10326702850314">{{ 'quiz.qd.s4_a5' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331246493962,10331266351370,10331243413770,10329315574026,10329333465354,10325364867338,10325618524426,10325655650570,10325355954442,10382781972746,10382781055242,10443009720586,10326702850314">{{ 'quiz.qd.s4_a6' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331455586570,10327042654474,10323778797834,10327033413898,10327701946634,10326731882762,10325657190666,10326953623818,10384923885834,10443016208650,10326669263114">{{ 'quiz.qd.s4_a7' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10344959344906,10327039312138,10329419055370,10331318616330,10331325268234,10331475804426,10327742611722,10326953754890,10326924099850,10326648258826,10325350547722,10326669263114,10384938631434,10326702850314">{{ 'quiz.qd.s4_a8' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 5 : Miroir -->
        <div data-qd-step="5" data-qd-type="multi" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s5_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s5_hint' | t }}</p>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10329315574026,10329333465354,10331243413770,10327033413898,10325618524426,10325364867338,10325320958218,10325350547722,10325355954442,10443003035914">{{ 'quiz.qd.s5_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331243413770,10329315574026,10329333465354,10327033413898,10325364867338,10325641724170,10325655650570,10325355954442,10325657190666,10443009720586">{{ 'quiz.qd.s5_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327048782090,10331309768970,10329333465354,10329315574026,10329423610122,10326731882762,10326924099850,10325657190666,10326605463818,10325662662922,10443003035914,10443009720586">{{ 'quiz.qd.s5_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327048782090,10331309768970,10329419055370,10329423610122,10331475804426,10326953754890,10326924099850,10326648258826,10325662662922,10325350547722,10382782562570,10379025416458,10382781055242,10443003035914">{{ 'quiz.qd.s5_a4' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331309768970,10331302330634,10331475804426,10327742611722,10327705911562">{{ 'quiz.qd.s5_a5' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327048782090,10331475804426,10327742611722,10329419055370,10329429606666,10331318616330,10331325268234,10326924099850,10325350547722,10325662662922,10326605463818,10326669263114,10443020992778">{{ 'quiz.qd.s5_a6' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 6 : Contour des yeux -->
        <div data-qd-step="6" data-qd-type="yesno" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s6_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s6_hint' | t }}</p>
          <div class="qd-yesno">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327705911562,10327742611722,10331302330634,10331309768970,10331475804426">{{ 'quiz.qd.yes' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice>{{ 'quiz.qd.no' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
        </div>

        <!-- 7 : Lèvres -->
        <div data-qd-step="7" data-qd-type="single" data-qd-key="levres" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s7_q' | t }}</h2>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331325268234" data-qd-val="oui">{{ 'quiz.qd.s7_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331318616330" data-qd-val="oui">{{ 'quiz.qd.s7_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331325268234,10331318616330" data-qd-val="oui">{{ 'quiz.qd.s7_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-val="non">{{ 'quiz.qd.s7_a4' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
        </div>

        <!-- 8 : Vieillissement -->
        <div data-qd-step="8" data-qd-type="multi" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s8_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.multi_hint' | t }}</p>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10329429606666,10327701946634,10344959344906,10326605463818,10325662662922,10325350547722,10325355954442,10326648258826">{{ 'quiz.qd.s8_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331475804426,10327742611722,10329429606666,10331302330634,10325662662922,10325350547722,10326924099850,10326953754890">{{ 'quiz.qd.s8_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327045832970,10327039312138,10329423610122,10329419055370,10344959344906,10325649719562,10325651194122,10326953754890,10326953623818,10323778797834,10442990616842">{{ 'quiz.qd.s8_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327742611722,10331475804426,10327048782090,10329429606666,10327701946634,10344959344906,10326605463818,10325662662922,10325350547722,10325355954442,10326648258826,10443020992778">{{ 'quiz.qd.s8_a4' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10331475804426,10327048782090,10329419055370,10327039312138,10331318616330,10326924099850,10326953754890,10325350547722,10326669263114">{{ 'quiz.qd.s8_a5' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 9 : Transition texture -->
        <div data-qd-step="9" data-qd-type="info" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s9_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s9_hint' | t }}</p>
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 10 : Texture -->
        <div data-qd-step="10" data-qd-type="multi" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s10_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.multi_hint' | t }}</p>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327045832970,10331475804426,10329333465354,10329315574026,10331309768970,10331302330634,10325649719562,10325651194122,10325657190666,10323778797834,10325655650570">{{ 'quiz.qd.s10_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10327039312138,10327042654474,10327705911562,10327033413898,10326953754890,10326924099850,10326953623818,10326648258826">{{ 'quiz.qd.s10_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10344959344906,10327048782090,10327701946634,10327742611722,10326953623818,10325618524426,10325662662922,10325350547722">{{ 'quiz.qd.s10_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10329429606666,10327701946634,10344959344906,10326953623818,10326953754890,10325662662922,10326648258826">{{ 'quiz.qd.s10_a4' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10344959344906,10329429606666,10325364867338,10325363130634,10326648258826">{{ 'quiz.qd.s10_a5' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
          <div class="qd-cta"><button class="btn" type="button" data-qd-next>{{ 'quiz.qd.next' | t }}</button></div>
        </div>

        <!-- 11 : Type de routine -->
        <div data-qd-step="11" data-qd-type="single" data-qd-key="routine" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s11_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s11_hint' | t }}</p>
          <div class="quiz-options">
            <button class="quiz-option" type="button" data-qd-choice data-qd-val="basique">{{ 'quiz.qd.s11_a1' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-val="medium">{{ 'quiz.qd.s11_a2' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-val="long">{{ 'quiz.qd.s11_a3' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-val="pro">{{ 'quiz.qd.s11_a4' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
        </div>

        <!-- 12 : Gommage -->
        <div data-qd-step="12" data-qd-type="yesno" data-qd-key="gommage" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s12_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s12_hint' | t }}</p>
          <div class="qd-yesno">
            <button class="quiz-option" type="button" data-qd-choice data-qd-ids="10329419055370,10329423610122,10329425379594,10329429606666,10331243413770,10329315574026,10329333465354,10382781055242,10384923885834" data-qd-val="oui">{{ 'quiz.qd.yes' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
            <button class="quiz-option" type="button" data-qd-choice data-qd-val="non">{{ 'quiz.qd.no' | t }} <span class="quiz-option__arrow">{% render 'icon', icon: 'arrow-right', size: 18 %}</span></button>
          </div>
        </div>

        <!-- 13 : Fin -->
        <div data-qd-step="13" data-qd-type="info" hidden>
          <h2 class="quiz-question">{{ 'quiz.qd.s13_q' | t }}</h2>
          <p class="qd-hint">{{ 'quiz.qd.s13_hint' | t }}</p>
          <div class="qd-cta"><button class="btn" type="button" data-qd-finish>{{ 'quiz.qd.s13_btn' | t }}</button></div>
        </div>

      </div><!-- #qd-steps -->

      <button class="quiz-prev" type="button" id="qd-prev" hidden>
        {% render 'icon', icon: 'arrow-left', size: 15 %} {{ 'quiz.prev' | t }}
      </button>
    </div><!-- #qd-card -->

    <div id="qd-result" hidden></div>

  </div>
</section>

<script type="application/json" id="qd-catalog">
{
  "demaq": [{%- for p in col_demaq.products limit: 20 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "toner": [{%- for p in col_toner.products limit: 10 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "eye": [{%- for p in col_eye.products limit: 10 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "serum": [{%- for p in col_serum.products limit: 10 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "creme": [{%- for p in col_creme.products limit: 10 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "sun": [{%- for p in col_sun.products limit: 10 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "gommage": [{%- for p in col_gommage.products limit: 15 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}],
  "levres": [{%- for p in col_levres.products limit: 10 -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ p.id }},"title":{{ p.title | json }},"price":{{ p.price }},"image":{{ p.featured_image | image_url: width: 500 | json }},"url":{{ p.url | json }},"vendor":{{ p.vendor | json }},"vid":{{ p.first_available_variant.id | default: p.variants.first.id }}}{%- endfor -%}]
}
</script>

{% schema %}
{
  "name": "Quiz",
  "settings": []
}
{% endschema %}
