<section class="newsletter">
  <div class="newsletter__inner">
    <h2 class="newsletter__h">{{ section.settings.heading | default: 'newsletter.h' | t }}</h2>
    <p class="newsletter__p">{{ 'newsletter.p_a' | t }}<b>{{ 'newsletter.promo' | t }}</b>{{ 'newsletter.p_b' | t }}</p>

    {%- form 'customer', class: 'newsletter__form' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="hidden" name="contact[accepts_marketing]" value="true">
      <label class="visually-hidden" for="NewsletterEmail">{{ 'newsletter.placeholder' | t }}</label>
      <input
        id="NewsletterEmail"
        class="newsletter__input"
        type="email"
        name="contact[email]"
        placeholder="{{ 'newsletter.placeholder' | t }}"
        required
        autocomplete="email">
      <button type="submit" class="btn btn--lg">
        {%- if form.posted_successfully? -%}{{ 'newsletter.done' | t }}{%- else -%}{{ 'newsletter.cta' | t }}{%- endif -%}
      </button>
    {%- endform -%}

    <div class="newsletter__fine">{{ section.settings.fine_print | default: 'newsletter.fine' | t }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    { "type": "text", "id": "heading", "label": "Heading" },
    { "type": "textarea", "id": "fine_print", "label": "Fine print" }
  ],
  "presets": [{ "name": "Newsletter" }]
}
{% endschema %}
